.DS_Store
.vscode
esp-idf/
out/
build/
dist/
env.sh
sdkconfig
sdkconfig.old
version.txt
dependencies.lock
target/
.pio
.pio/
components/
components/arduino/
managed_components/
logs/
private.hpp
src/private.hpp
